.show-more {
    margin-top: 2rem;
    & a {
      color: #8b949e;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.8rem;
      &:hover {
        color: var(--blue);
      }
    }
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
    &-yellow {
      background: #f1e05a;
    }
    &-green {
      background: #41b883;
    }
    &-blue {
      background: #3f8184;
    }
  }

.separator {
    background: var(--white);
    opacity: 0.2;
    width: 100%;
    margin-top: 2rem;
    height: 0.1px;
}

.dropdown-caret {
    display: inline-block;
    color: var(--white);
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    border-style: solid;
    border-width: 4px 4px 0;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  }